:root {
	--imagenFondo:url('appsArt/fondo.jpg');
	--luzOn:#459afc;
	--OnActivo: #ABE2F8;
	--OnPasivo: #80C0FC;	
    --Off: #4e79fc;
	--RojoOnActivo:#FD0101;
	--RojoOnPasivo:#D80202;
	--RojoOff:#960404;  
    --fondo01:rgba(117, 208, 250, 0.1);
    --fondo03:rgba(117, 208, 250, 0.3);
    --fondo05:rgba(117, 208, 250, 0.5); /*Estado inactivo*/
    --fondo07:rgba(117, 208, 250, 0.7);
    --fondo09:rgba(117, 208, 250,0.9); /*Estado activo*/
    --fondo10:rgba(117, 208, 250,1);
	--fondoOff01:rgba(15, 25, 44, 0.1);
    --fondoOff03:rgba(15, 25, 44, 0.3);
    --fondoOff05:rgba(15, 25, 44, 0.5); /*Estado inactivo*/
    --fondoOff07:rgba(15, 25, 44, 0.7);
    --fondoOff09:rgba(15, 25, 44,0.9); /*Estado activo*/
    --fondoOff10:rgba(15, 25, 44,1);
	color:#fc3504;
	color:#ff6105;
	color:#ff8a05;
	color:#e6ff07;
	color:#8bff07;
	color:#02aa64;
  }
html {
	font-family: calibri, asap;
	width: 99%;	
	background:#020a22;
  background-image:url("appsArt/fondo.jpg");
	overflow:hidden;
}
#appsContenedorGlobal {
	position: fixed;
	top: 0;
	left: 0px;
	width: 100%;
	height: 50px;
	margin: 0 auto;
	border:1px solid var(--Off);	
	background: var(--fondo03);
	border-radius: 15px 0px 15px 0px;
	z-index: 3;
	user-select: none;
}
/*==== Encabezado ====*/
#appsEncabezadoGral {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	margin: 0 auto;
	border:1px solid var(--Off);	
	background: var(--fondo03);
	border-radius: 15px 0px 15px 0px;
	z-index: 3;	
	user-select: none;
}
#appsEncabezadoGral:hover{
	border:1px solid var(--OnActivo);
	box-shadow: 2px 1px 5px 1px var(--luzOn);
	background: var(--fondo05);
}
#appsEncabezadoGral:hover .appsTituloCinta{
	color: var(--RojoOnActivo);
	text-shadow: 0px 0px 10px var(--RojoOnActivo);
}
#appsEncabezadoGral:hover .appsContenidoCinta{
	color: var(--OnActivo);
	text-shadow: 0px 0px 10px var(--OnActivo);
}
#appsEncabezadoGral:hover .appsContenidoCinta li a{
	color: var(--RojoOnActivo);
	text-shadow: 0px 0px 10px var(--RojoOnActivo);
}
.appsBtnMenu {
	position: relative;
	width: 30px;
	top: 13px;
	left: 10px;
	cursor: pointer;
}
.appsBtnMenu img {
	width: 20px;
	height: 20px
}
.appsLogo {
	position: relative;
	height: 45px;
	width: 45px;
	top: -22px;
	left: 41px;
	border-radius: 0;
}
.appsLogo img {
	height: 45px;
	width: 45px;
}
.appsTituloCinta {
	position: relative;
	top: -68px;
	left: 90px;
	width: 180px;
	height: 45px;
	font-size: 18px;
	font-weight: bolder;	
	color: var(--RojoOnPasivo);
	text-align: center;
	padding-left: 3px;
}
.appsContenidoCinta {
	position: relative;
	width: 50%;
	top: -100px;
	left: 340px;
	font-weight: normal;
	font-size: 14px;
	color: var(--OnPasivo);
	text-align: center;
	padding-left: 5px;
}
.appsContenidoCinta ul {
	position: relative;
	left: 0;
	list-style: none;
	display: inline;
}
.appsContenidoCinta li {
	position: relative;
	width: auto;
	left: -20px;
	list-style: none;
	display: inline;
	margin: 4.0%;
}
.appsContenidoCinta li a{
	font-weight: 900;
	text-decoration:none;
	color:var(--RojoOnPasivo);
}
.appsInicioSesionCinta {
	position: relative;
	float: right;
	top: -125px;
	width: auto;
	margin: 3px;
	padding: 2px 5px;
	text-align: center;
	color: var(--OnPasivo);
	font-weight: bold;
	font-size: 16px;
	border: 1px solid var(--Off);
	border-radius: 10px 0px ;
	background: var(--fondo01);		
	cursor: pointer;
}
.appsInicioSesionCinta:hover {
	color: var(--OnActivo);
	text-shadow: 10px var(--OnActivo);
	border: 1px solid var(--OnActivo);
	box-shadow: 2px 1px 5px 1px var(--luzOn);
	background: var(--fondo03);		
}
/*==== Inputs, Selects, Botones====*/
select{
	margin:3px;
	padding:4px 5px;
	color: var(--OnPasivo);
	font-weight: normal;
	font-size: 12px;
	border: 1px solid var(--OnPasivo);
	border-radius: 8px 0;
	background: var(--fondo03);	
}
select:focus{
	color: var(--OnActivo);
	text-shadow: 0px 0px 10px var(--OnActivo);
	border-color: var(--OnActivo);
	box-shadow: 0 1px 10px var(--OnActivo)inset, 0 0 8px var(--luzOn);
	background: var(--fondo01);
	outline: 0 none;
}
option{
	color: var(--Off);
	background: #383c47;
}
input {
	color: var(--OnPasivo);
	font-weight: normal;
	font-size: 12px;
	border: 1px solid var(--OnPasivo);
	border-radius: 8px 0;
	background: var(--fondo03);	
}
input:focus {
	color: var(--OnActivo);
	text-shadow: 0px 0px 10px var(--OnActivo);
	border-color: var(--OnActivo);
	box-shadow: 0 1px 10px var(--OnActivo)inset, 0 0 8px var(--luzOn);
	background: var(--fondo01);
	outline: 0 none;
}
/*==== Formularios Login====*/
#appsFormulario {
	position: absolute;
	visibility: hidden;
	padding: 10px;	
	font-weight: normal;
	font-size: 0.8vw;	
	color: var(--OnPasivo);
	border-radius: 15px 0;
	border: 1px solid var(--OnActivo);
	box-shadow: 0px 0px 5px 0px var(--luzOn);	
	background: var(--fondoOff07);	
	z-index: 4;		
	user-select: none;
}
#appsFormulario:hover{
	color: var(--OnActivo);
	text-shadow: 0px 0px 10px var(--OnActivo);
	border: 1px solid var(--OnActivo);
	box-shadow: 0px 0px 25px 0px var(--OnActivo);
	background: var(--fondoOff09);	
}
#appsFormulario input {
	color: var(--OnPasivo);
	font-weight: normal;
	font-size: 0.8vw;
	border: 1px solid var(--OnPasivo);
	border-radius: 8px 0;
	background: var(--fondo03);	
}
#appsFormulario input:focus {
	color: var(--OnActivo);
	text-shadow: 0px 0px 10px var(--OnActivo);
	border-color: var(--OnActivo);
	box-shadow: 0 1px 10px var(--OnActivo)inset, 0 0 8px var(--luzOn);
	background: var(--fondo01);
	outline: 0 none;
}
#appsFormulario .btnLogin {
	left: 30px;
	color: var(--OnPasivo);
	font-weight: normal;
	font-size: 0.8vw;
	border: 1px solid var(--OnPasivo);
	border-radius: 8px 0;
	background: var(--fondo01);	
	cursor: pointer;
}
#appsFormulario .btnLogin:hover {
	color: var(--OnActivo);
	text-shadow: 0px 0px 10px var(--OnActivo);
	border-color: var(--OnActivo);
	box-shadow: 0 1px 10px var(--OnActivo)inset, 0 0 8px var(--luzOn);
}
.appsFormularioLogin {
	top: 53px;
	right: 0;
}
.appsFormularioNuevoUsuario{
	top: -500px;
	right: 0;
}
.appsFormularioNuevoUsuario .cerrar{
	padding:0 5px;
	color: var(--OnPasivo);
	border-radius: 50px;
	border: 1px solid var(--OnActivo);
	box-shadow: 0px 0px 5px 0px var(--luzOn);
	cursor: pointer;
}
.appsFormularioNuevoUsuario .cerrar:hover{
	color: var(--OnActivo);
	text-shadow: 0px 0px 10px var(--OnActivo);
	border: 1px solid var(--OnActivo);
	box-shadow: 0 1px 10px var(--OnActivo)inset, 0 0 8px var(--luzOn);
	background: var(--fondo01);
}
.appsFormularioNuevoUsuario #contrasenaCheckList{
	position: absolute;
	visibility: hidden;
	top: 270px;
	left:-210px;
	padding: 10px;
	color: var(--OnActivo);
	text-shadow: 0px 0px 10px var(--OnActivo);
	border-radius: 15px 0;
	border: 1px solid var(--OnActivo);
	box-shadow: 0 1px 10px var(--OnActivo)inset, 0 0 8px var(--luzOn);
	border: 1px solid var(--OnActivo);
	box-shadow: 0px 0px 25px 0px var(--OnActivo);
	background: var(--fondoOff09);	
}
.appsFormularioNuevoUsuario #mostrarFoto img{
	position:absolute;
	top:10px;
	right:5px; 
	width: 60px;
	height: 60px;
	padding:3px;
	border-radius: 50px;
	border: 1px solid var(--OnPasivo); 
	background:white;
}
/*==== LoggedIn====*/
#appsSesionLogedIn {
	position: relative;
	width: auto;
	top: -125px;
	float: right;
	cursor: pointer;
	color: #0B0B61;
	padding: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #0B0B61;
	border-radius: 25px;
	/*box-shadow:1px 1px 2px 1px #0B0B61;	*/
	background: white;
}
#appsSesionLogedIn:hover {
	background: #AABAF6;
	box-shadow: 0px 0px 5px 0px #EBEEF8;
}
.appsSesionImg img{	
	float: right;
	width: 30px;
	height: 30px;
	border: 1px solid #0B0B61;
	border-radius: 25px;
}
/*====Formularios LoggedIn=====*/
.appsFormularioDatosUsuario {
	position:relative;
	top: 52px;
	right: 0;
}
.datosPersonales {
	border-bottom: 1px solid gray;
	margin: 10px 0px;
	padding: 10px 0px;
	user-select: none;
}
.sesionImgInside{
	position:relative;
	margin: 0 auto;
	width:fit-content;
}
.sesionImgInside img{
	padding: 2px;
	width: 50px;
	height: 50px;
	border: 1px solid #0B0B61;
	border-radius: 50px;
	background: white;
}
.appsFormularioDatosUsuario .etiqueta {
	font-weight: bold;
	padding: 10px 0px;
}
.appsFormularioDatosUsuario .datos {
	font-weight: normal;
	font-style: italic;
}
.appsFormularioDatosUsuario .btn {
	width: auto;
	left: 30px;
	color: var(--OnPasivo);
	font-weight: normal;
	font-size: 0.8vw;
	text-align: center;
	border: 1px solid var(--OnPasivo);
	border-radius: 5px;
	background: var(--fondo03);;
	cursor: pointer;
	padding: 0px 5px;
}
.appsFormularioDatosUsuario .btn:hover {
	font-weight: bold;
	color: var(--OnActivo);
	text-shadow: 10px var(--OnActivo);
	border: 1px solid var(--OnActivo);
	box-shadow: 2px 1px 5px 1px var(--luzOn);
	background: var(--fondo01);		
}
.appsFormularioNuevaContrasena{
	position:relative;
	top: 231px;
	right: 192px;
}
.appsFormularioNuevaContrasena #contrasenaCheckList{
	position: absolute;
	visibility: hidden;
	top: 70px;
	left:-210px;
	padding: 10px;
	color: var(--OnActivo);
	text-shadow: 0px 0px 10px var(--OnActivo);
	border-radius: 15px 0;
	border: 1px solid var(--OnActivo);
	box-shadow: 0 1px 10px var(--OnActivo)inset, 0 0 8px var(--luzOn);
	border: 1px solid var(--OnActivo);
	box-shadow: 0px 0px 25px 0px var(--OnActivo);
	background: var(--fondoOff09);	
}
/*=======Menú Navegación==========*/
.menuNavegacion {
	position: fixed !important;
	display: inline-block;
	top: 55px;
	width: 50px;
	padding: 5px;	
	line-height: 18px;
	background: var(--fondoOff09);
	z-index: 3;
	user-select: none;
}
.menuNavegacion ul {
	position: relative;
	top: -15px;
	list-style: none;
	max-height: 700px;
	overflow: hidden;
	overflow-y: scroll;
}
.menuNavegacion img {
	padding-right: 5px;
	height: 25px;
	width: 25px;
}
.menuNavegacion li {
	position: relative;
	width: 30px;
	left: -40px;
	padding-left: 5px;
	border:1px solid var(--OnPasivo);
	border-radius: 10px 0;	
	background: var(--fondo01);
	overflow: hidden;
	cursor: pointer;
}
.menuNavegacion li:hover {
	border:1px solid var(--OnActivo);
	box-shadow: 2px 1px 5px 1px var(--luzOn);	
	background: var(--fondo03);
}
.menuNavegacion .menu li a {
	width: 100%;
	display: block;
	text-decoration: none;
	padding: 1px 1px;
	padding-left: 1px;	
	font-family: arial, serif;
	font-weight: normal;
	font-size: 0.6vw;	
	color:var(--OnPasivo);
}
.menuNavegacion .menu li a:hover {
	color: var(--OnActivo);
	text-shadow: 0px 0px 10px var(--OnActivo);
}
.menuNavegacion .menu ul {
	position: relative;
	top: 0px;
	left: -10px;
}
.menuNavegacion .menu ul li{
	padding:3px;
}
.menuNavegacion .menu .activado > a {
	background: green;
}
.submenu {
	display: none;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
/*====CuerpoPrincipal====*/
#contenedor {
	position:absolute;
	top:55px;
	left:45px;
	width:100%;
	margin: auto 0;
	text-align: center;
	font-family: arial, serif;	
	font-size:14px;
	font-weight:normal;	
	color: var(--OnPasivo);
	z-index: 1;
	user-select: none;
}
/*====Página Bienvenida====*/
#boton {
	display: inline-block;
	width: 150px;
	text-align: center;
	margin: 50px;
	border: 1px solid var(--OnPasivo);
	border-radius: 15px 0;
	background: var(--fondo03);
}
#boton:hover {
	border: 1px solid var(--OnActivo);
	border-radius: 15px 0;
	background: var(--fondo05);
	box-shadow: 1px 1px 5px var(--OnActivo);
}
#boton img {
	height: 120px;
	width: 120px;
	margin: 0 auto;
	border-radius: 15px;
	border: 1px solid var(--OnActivo);
	box-shadow: 1px 1px 5px var(--OnActivo);
}
#boton p {
	font-weight: normal;
	line-height: auto;
	font-size: 14px;
	color: #8895bf;
	color: var(--OnPasivo);
}
#boton:hover p{
	color: var(--OnActivo);
	text-shadow: 0px 0px 10px var(--OnActivo);
}
#boton a {
	text-decoration: none;
}
#h2 {
	position: relative;
	top: 280px;
	margin: 0 auto;
	text-align: center;
	color: var(--OnActivo);
	text-shadow: 0px 0px 10px var(--OnActivo);
	z-index: 3;	
}
/*====Encabezado para Reestablecer Tablas====*/
#reestablecerTabla{	
	position:relative;
	top:10px;
	left:30px;
	width:600px;
	padding: 5px;	
}
#reestablecerTabla input{	
	position:relative;
	left:30px;
	width:auto;
	height:auto;
	padding:0px 5px;
	color:var(--OnPasivo);
	font-weight: bold;
	font-size:14px;
	text-align:center;
	border-radius:5px;
	border:1px solid var(--OnPasivo);
	background: var(--fondo01);	
	cursor:pointer;
}
#reestablecerTabla input:hover{
	color: var(--OnActivo);
	text-shadow: 0px 0px 10px var(--OnActivo);
	border:1px solid var(--OnActivo);
	box-shadow: 2px 1px 5px 1px var(--luzOn);	
	background: var(--fondo05);
}
#reestablecerTabla a{
	text-decoration:none;
}
/*====Encabezado para los Filtros====*/
#gridFiltros{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-columns: 120px auto;
	grid-template-rows: 40px 40px 40px 40px;
	gap:2px;
	width:20%;	
	background:var(--fondoOff09);	
	margin: 50px 50px;
	border-radius: 10px;
	box-shadow: 2px 1px 5px 1px var(--luzOn);
}
#gridFiltros:hover{
	color: var(--OnActivo);
	text-shadow: 0px 0px 10px var(--OnActivo);
	box-shadow: 2px 1px 15px 1px var(--OnActivo);	
	border:1px solid var(--OnActivo);
	background: #375879;
}
#gridFiltros .itemsGrid {
	display: flex;	
	padding:2px 5px;
	font-weight: bold;
	font-size: 1.5em;
	align-items: left;
	font-weight:bolder;
	text-align:center;
	color:var(--OnPasivo);
  }
/*====Tablas====*/
.contenedorTabla{
	position:absolute;
	top:100px;
	position:relative;
	top:40px;
	left:30px;
	margin:auto;
	max-width:96%;	
	max-height:730px;
	padding-top: 20px;
	max-width: 98%;
	max-height: 98%;
	overflow: scroll;	
}
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-track {
	background: var(--fondoOff01);
	box-shadow: inset 0 0 6px rgba(238, 234, 234, 0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: var(--OnPasivo);
	border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:hover {
	background: var(--OnActivo);	
	box-shadow: 2px 1px 15px 1px var(--luzOn);	
}
.tituloBD{
	position: relative;
	left:30px;
	font-size: 24px;
	font-weight: bolder;
	color: var(--OnPasivo);
}
.tablaBD{
	table-layout: absolute;	
	position: relative;
	top:-20px;
	left:0px;
	width: 100%;
	font-weight: normal;
	font-size:14px;
	text-align:center;
	border-collapse: collapse;
	border-radius: 1em;	
	background:var(--fondoOff09);
}
.tablaBD thead{	
	top:0px;
	height:20px;	
	padding:5px;
	font-size:18px;
	font-weight:bolder;
	text-align:center;
	color:var(--OnPasivo);	
	white-space:nowrap;	
	background: #375879;
}
.tablaBD thead th{	
	padding:15px 0px;
}
.tablaBD thead td{	
	background: #375879;
}
.tablaBD tbody{
	top:0px;
}
.tablaBD tbody tr{
	border-radius: 25px;
}
.tablaBD tbody td{	
	height: 20px;
	padding:10px 10px;
	color:var(--luzOn);
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
	user-select:text;
}
.tablaBD tbody tr:nth-child(even) {
	background-color:#233f5a;
}
.tablaBD tbody tr:nth-child(odd) {
	background-color:#1f364d;
}
.tablaBD tbody tr:hover{
	color: var(--OnActivo);
	text-shadow: 0px 0px 10px var(--OnActivo);
	box-shadow: 2px 1px 15px 1px var(--OnActivo);	
	border:1px solid var(--OnActivo);
	background: #375879;
}
.tablaBD tbody tr:hover td{
	color: var(--OnActivo);
	text-shadow: 0px 0px 10px var(--OnActivo);	
	box-shadow: 2px 1px 15px 1px var(--luzOno);	
	background: #375879;
}
.tablaBD th img, .tablaBD td img{
	height:20px;
	width: 20px;
	cursor:pointer;
	padding:0px 3px;
}
.tablaBD th img:hover, .tablaBD td img:hover{
	border-radius: 5px;
}
/*====Columnas fijas====*/
.stickyHead1{
	position:sticky;
	top:-20px;
	z-index: 2;
}
.stickyHead2{
	position:sticky;
	top:31px;
	z-index: 2;
}
.stickyHead3{
	position:sticky;
	top:58px;
	z-index: 2;
}
.sticky1{
	position:sticky;
	left:0px;
}
.sticky2{
	position:sticky;
	left:54px;
}
.tablaBD thead .stickyHead1, .tablaBD thead .stickyHead2{	
	background:#375879;
}
.tablaBD tbody .stickyHead3{	
	background:#233f5a;
}
.tablaBD thead .sticky1, .tablaBD thead .sticky2{	
	background:#375879;
}
.tablaBD tbody tr:nth-child(even) .sticky1, .tablaBD  tbody tr:nth-child(even) .sticky2{
	background-color:#233f5a;
}	
.tablaBD tbody tr:nth-child(odd) .sticky1, .tablaBD  tbody tr:nth-child(odd) .sticky2{
	background-color:#1f364d;
}
.tablaBD tbody tr:hover .stickyHead3{
	color: var(--OnActivo);
	text-shadow: 0px 0px 10px var(--OnActivo);
	box-shadow: 2px 1px 15px 1px var(--OnActivo);
	background: #375879;
}
.tablaBD tbody tr:hover td .stickyHead3{
	color: var(--OnActivo);
	text-shadow: 0px 0px 10px var(--OnActivo);	
	box-shadow: 2px 1px 15px 1px var(--OnActivo);
	background: #375879;
}
.tablaBD tbody tr:hover .sticky1, .tablaBD tbody tr:hover .sticky2{
	color: var(--OnActivo);
	text-shadow: 0px 0px 10px var(--OnActivo);
	box-shadow: 2px 1px 15px 1px var(--OnActivo);
	background: #375879;
}
.tablaBD tbody tr:hover td .sticky1, .tablaBD tbody tr:hover td .sticky2{
	color: var(--OnActivo);
	text-shadow: 0px 0px 10px var(--OnActivo);
	box-shadow: 2px 1px 15px 1px var(--OnActivo);	
	background: #375879;
}
/*============*/

.fotoImg img{
	transition:all .9s ease;
	width:100%;
	border-radius: 50px;
	-webkit-transition:all .9s ease; /* Safari y Chrome */
	-moz-transition:all .9s ease; /* Firefox */
	-o-transition:all .9s ease; /* IE 9 */
	-ms-transition:all .9s ease; /* Opera */	
}
.fotoImg:hover img {
	-webkit-transform:scale(1.5);
	-moz-transform:scale(1.5);
	-ms-transform:scale(1.5);
	-o-transform:scale(1.5);
	transform:scale(1.5);
}
.fotoImg img{
	width:50px;
	height:50px;
	margin:0 auto;
	border-radius:15px;
	overflow:visible;
	z-index: 10;
}
.filaFiltros{
	background:#7A7EA0 !important;
}
.filaFiltros:hover{
	background:#7A7EA0 !important;
}
/*====GRIDS====*/
#contenedorTabla{
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	/*grid-column-gap:1px;
	grid-row-gap:1px;
	grid-auto-rows: 50px 50px 25px 25px;*/

	width:98%;	
	background:var(--fondoOff09);	
	margin: 50px auto;
	border-radius: 25px;
	box-shadow: 2px 1px 5px 1px var(--luzOn);	
}
#contenedorTabla img{
	height:20px;
	width: 20px;
	cursor:pointer;
	padding:0px 3px;
}
.tituloTabla{
	grid-column-start: 1;
	grid-column-end: 12;
	
	display: flex;
	color:var(--OnPasivo);	
	align-items: center;
	font-weight: bolder;
	font-size: 2.5em;
	justify-content: center;
	border-radius: 25px 25px 0 0;
	background:var(--fondo03);
}
.reestablecerTabla{
	grid-column-start: 1;
	grid-column-end: 12;
	background:var(--fondo03);
	color:var(--OnPasivo);
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bolder;
	font-size: 1.9em;
}
.reestablecerTabla input{	
	position:relative;
	left:30px;
	width:auto;
	height:auto;
	padding:0px 5px;
	color:var(--OnPasivo);
	font-weight: bold;
	font-size:14px;
	text-align:center;
	border-radius:5px;
	border:1px solid var(--OnPasivo);
	background: var(--fondo01);	
	cursor:pointer;
}
.reestablecerTabla input:hover{
	color: var(--OnActivo);
	text-shadow: 0px 0px 10px var(--OnActivo);
	border:1px solid var(--OnActivo);
	box-shadow: 2px 1px 5px 1px var(--luzOn);	
	background: var(--fondo05);
}
.encabezadoTabla{	
	display: flex;	
	font-weight: bold;
	font-size: 1.5em;	
	justify-content: center;
	align-items: center;
	font-weight:bolder;
	text-align:center;
	color:var(--OnPasivo);
	background:var(--fondo05);
}
.cuerpoTabla{
	display: grid;
	grid-column-start: 1;
	grid-column-end: 12;	
	grid-template-columns: repeat(11, 1fr);
	grid-column-gap:1px;
	grid-row-gap:1px;
	width: 100%;
	/*grid-auto-rows: 50px 50px 25px 25px;*/	
	background:var(--fondoOff09);	
	margin: 50px auto;
	border-radius: 25px;
	box-shadow: 2px 1px 5px 1px var(--luzOn);	
}
.items{	
	display: flex;	
	font-weight: bold;
	font-size: 1.5em;	
	justify-content: left;
	font-weight:normal;
	color:var(--OnPasivo);
	background:var(--fondo05);	
	color:var(--luzOn);
	background:var(--fondo01);
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
	user-select:text;
}


/*==========ADAPTABILIDAD===============*/
@media screen and (max-width:1400px) {
	html {
		width: 100%;
	}
	#boton {
		width: 180px;
	}
	img {
		height: 160px;
		width: 160px;
	}

}
@media screen and (max-width:800px) {
	/* Esta es para mi celular*/
	#appsContenedorGlobal {
		position: absolute;
		top: 150px;
		left: 0px;
		width: 100%;
	}
	#appsEncabezadoGral {
		height: 100px;
		z-index: 99;
	}
	.appsBtnMenu {
		position: relative;
		top: 20px;
		left: 40px;
		width: 60px;
		height: 60px;
		cursor: pointer;
	}
	.appsBtnMenu img {
		width: 60px;
		height: 60px;
	}
	.appsLogo {
		position: relative;
		top: -55px;
		left: 120px;
		height: 90px;
		width: 90px;
	}
	.appsLogo img {
		height: 90px;
		width: 90px;
	}
	.appsTituloCinta {
		position: relative;
		top: -140px;
		left: 215px;
		width: 450px;
		height: auto;
		font-size: 5vw;
		user-select: none;
	}
	.appsContenidoCinta {
		position: relative;
		top: -130px;
		left: 0px;
		width: 100%;
		height: auto;
		padding: 5px 0px;
		font-size: 2.2vw;
		color: black;
		box-shadow: 1px 1px 1px 1px gray;
		background: white;
		user-select: none;
	}
	.appsInicioSesionCinta {
		position: relative;
		top: -130px;
		left: -15px;
		font-size: 5vw;
		user-select: none;
	}
	/*==== Login====*/
#appsFormulario {
	position: absolute;
	visibility: hidden;
	padding: 10px;
	font-weight: bold;
	font-size: 5vw;
	border: 1px solid #0B0B61;
	box-shadow: 0px 0px 5px 0px gray;
	border-radius: 5px;
	z-index: 4;
}
.appsFormularioLogin {
	top:	30px;
	right: 20px;
	width: 480px;
}
#appsFormulario input {
	font-weight: normal;
	font-size: 5vw;
	border: 1px solid #0B0B61;
	border-radius: 5px;
}
#appsFormulario input:focus {
	border-color: #0B0B61;
	box-shadow: 0 1px 1px rgba(14, 35, 144, 0.075)inset, 0 0 8px rgba(51, 228, 130,0.6);
	outline: 0 none;
}
#appsFormulario .btnLogin {
	left: 30px;
	color: #0B0B61;
	font-weight: bold;
	font-size: 5vw;
	border: 1px solid #0B0B61;
	border-radius: 5px;
	background: #e4e3e8;
	cursor: pointer;
}
#appsFormulario .btnLogin:hover {
	background: #EBEEF8;
	box-shadow: 0px 0px 2px 0px #EBEEF8;
}
.formularioLogin {
	position: absolute;
	top: 190px;
	right: -45px;
	width: auto;
	border: 1px solid #0B0B61;
	font-size: 4.5vw;
	font-weight: bold;
	box-shadow: 0px 0px 5px 0px gray;
	border-radius: 5px;
	z-index: 3;
}
.formularioLogin input {
	font-weight: normal;
	font-size: 4.5vw;
	border: 1px solid #0B0B61;
	border-radius: 5px;
}
.formularioLogin input:focus {
	border-color: #0B0B61;
	box-shadow: 0 1px 1px rgba(14, 35, 144, 0.075)inset, 0 0 8px rgba(51, 228, 130,0.6);
	outline: 0 none;
}
.formularioLogin .btnLogin {
	left: 30px;
	color: #0B0B61;
	font-weight: bold;
	font-size: 4.5vw;
	border: 1px solid #0B0B61;
	border-radius: 5px;
	background: white;
}
/*==== LogedIn====*/
#appsSesionLogedIn {
	position: relative;
	top: -255px;
	right: 30px;
	width: 85px;
	height:85px;
	border: 1px solid #0B0B61;
	border-radius: 50px;
}
.appsSesionNom {
	position: relative;
	right: -100px;
	padding: 2px 10px;
	font-size: 2.3vw;
	font-weight: bold;
}
.appsSesionImg img{
	position: absolute;
	top:3px;
	right:3px;
	width: 80px;
	height: 80px;
	border: 1px solid #0B0B61;
	border-radius: 50px;
}
.sesionNom .nom {
	position: relative;
	top: 0px;
	right: -20px;
	text-align: right;
}
#sesionLogedIn .btn {
	position: relative;
	top: 0px;
	right: 0px;
	padding: 3px 4px;
	font-size: 3.5vw;
	font-weight: bold;
	color: #0B0B61;
	border: 1px solid #0B0B61;
	border-radius: 5px;
	background: #EBEEF8;
}
.appsFormularioDatosUsuario{
	position:relative;
	top:-22px;
}
.appsFormularioNuevaContrasena{
	position:relative;
	top:310px;
	right:0px;
}

	
	#parche {
		position: fixed;
		top: 130px;
		height: 160px;
		width: 100%;
		font-size: 3vw;
		text-align: center;
		color: #1a3799;
		z-index: 2;
		background: white;
		user-select: none;
	}	/*actua como un separador*/
	#h2 {
		position: fixed;
		top: 200px;
		font-size: 3vw;
		width: 100%;
		text-align: center;
		color: #1a3799;
		z-index: 3;
		user-select: none;
	}	
	#appsContenedor {
		position: relative;
		display:inline-block;
		top: 270px;
		user-select: none;
	}
	#boton {
		position:relative;
		top:0px;
		width: 96%;
		height: 100px;
		margin-bottom: 15px;
		border-radius: 5px;
		box-shadow: 0px 0px 1px #021860;
		border: 0px solid #021860;
		user-select: none;
	}
	#boton img {
		position: relative;
		top: 4px;
		left:-260px;
		height: 90px;
		width: 90px;
		border-radius: 5px;
		box-shadow: 1px 1px 5px #EBE6EC;
		user-select: none;
	}
	#boton p {
		position: absolute;
		top: -20px;
		left: 140px;
		width: 500px;
		color: black;
		font-weight: normal;
		text-align: left;
		line-height: auto;
		font-size: 48px;
		user-select: none;
	}
	
	/*====Menú de Navegación====*/
	#menuNavegacion {
		position: relative;
		left: 0px;
		top: 180px;
		width: 150px;
	}
	#menuNavegacion a {
		font-size: 8px;
	}
	#contenedor {
		top: 190px;
		left: 160px;
		font-size: 8px;
	}
	.tablaBD td img {
		height: 10px;
		width: 10px;
		padding: 2px 2px;
	}
	.encabezadoTabla {
		padding: 1px 3px;
	}
}
